[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=DroidCam
Exec=/opt/droidcam/droidcam
Comment=Use your Android phone as a wireless webcam or an IP Cam!
Icon=droidcam
Categories=GNOME;GTK;Video;
Name[it]=droidcam
